{{!-- Add Layout --}}
{{!< default}}
{{#post}}
<main class="full-site-width">
  <div class="main-wrap">
    {{!-- Post Content --}}
    <article class="post">
      <header class="post-header clear">
        {{!-- Title Post --}}
        <h1 class="post-title">{{title}}</h1>
        {{!-- Autor Tags --}}
        <div class="byline">Published <time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago="true"}}</time>  by {{#author}}<a href="{{url}}">{{name}}</a>{{/author}}</div>
        {{!-- Follow --}}
        {{!-- Tags --}}
         {{#if tags}}<p class="tags">更多: {{tags}}</p>{{/if}}
        <aside class="follow show-on-small-screen">
          <!--
          <span class="texto">Share</span>
          <span class="fb"><div class="fb-share-button" data-href="{{url absolute="true"}}" data-layout="button_count"></div></span>
          <span class="tw"><a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true">Tweet</a></span>
          -->
          <!-- JiaThis Button BEGIN -->
          <div class="jiathis_style">
            <a class="jiathis_like_tsina" data="width=120"></a>
            <a class="jiathis_like_weixin"></a>
            <a class="jiathis_like_qzone"></a>
          </div>
          <script type="text/javascript">
          var jiathis_config = {data_track_clickback:'true'};
          </script>
          <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1394175694907625" charset="utf-8"></script>
          <!-- JiaThis Button END -->
        </aside>
        {{!-- Add Cover Img Post --}}
        {{#if image}}<img src="{{image}}" alt="{{title}}" class="post-img"/>{{/if}}
      </header>
      {{!-- content post --}}
      <section class="post-main clear">
         {{content}}
       </section>
      {{!-- Post Share --}}
      <aside class="share">
        {{> "jiathis"}}
            
      </aside>

    </article>

    {{!-- Add Auhor --}}
    {{#author}}
    <div class="post-author">
      {{!-- Add Auhor --}}
      <a href="{{url}}" class="avatar"><img src="{{#if image}}{{image}}{{else}}{{asset "img/user-image.png"}}{{/if}}" alt="{{name}}" /> </a>

      <div class="author-content">
        {{!-- Add Name Author --}}
        <a class="author-name" href="{{url}}">{{name}}</a>
        {{!-- biography of the author --}}
        {{#if bio}}<p>{{bio}}</p>{{/if}}
        <p class="meta">
          {{#if location}}<span><i class="fa fa-map-marker"></i> {{location}}</span>{{/if}}
          {{#if website}} <span><a href="{{website}}"><i class="fa fa-globe"></i> WebSite</a></span> {{/if}}
        </p>
      </div>
    </div>
    {{/author}}

    {{!-- Add Comments --}}
    <!--
    <div id="comments"class="comments">
      <div class="card-content">
        <div class="Comments-all">
          <div class="fb-comments" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="10" data-colorscheme="light"></div>
        </div>
      </div>
    </div>
    -->
    <div id="comments"class="comments">
    <div class="card-content">
        <div class="Comments-all">
          <div class="fb-comments" data-href="{{url absolute="true"}}" data-width="100%" data-numposts="10" data-colorscheme="light">
            {{> "youyan"}}    
          </div>
        </div>
      </div>
      
    </div>
  </div>
  {{!-- Add Sidebar --}}
  {{> "sidebar"}}
</main>
{{/post}}
